Body{
    font-family: "Roboto";
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 20px; left: 300px;
    color:#5172DF;

}

.colorBlanc {
    color: #FFFFFF;
}

.container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 17%;
    height: 100%;
    background: #5172DF;
}

.recherche {
    font-size: 20px;
    position: absolute;
    top: 5%; left: 13%;
    color: #FFFFFF;
}

.compte {
    font-size: 20px;
    position: absolute;
    top: 10%; left: 13%;
    color: #FFFFFF;
}

.FAQ {
    font-size: 20px;
    position: absolute;
    bottom: 20%; left: 13%;
    color: #FFFFFF;
}

.CGU {
    font-size: 20px;
    position: absolute;
    bottom: 15%; left: 13%;
    color: #FFFFFF;
}

.support {
    font-size: 20px;
    position: absolute;
    bottom: 10%; left: 13%;
    color: #FFFFFF;
}

.deconnecter{
    font-size: 20px;
    position: absolute;
    bottom: 5%; left: 13%;
    color: #FFFFFF;
}

.colorActif{
    color: #FBF778;
}
a:hover{
    text-decoration: underline;
    color: #FBF778;
}

.boutonQuestion1 {
    /*position: absolute;
    left: 400px; bottom: 100px;*/
    margin-top: 200px;
    margin-left: 290px;
    width: 1000px;
    height: 50px;
    padding-left: 20px;
    text-align: left;
    font-size: 25px;
    color: #5172DF;
    background-color: #FBF778;
    background-image: url("images/cheveron_down.png");
    background-position-x: 990px;
    border: 0px;
    border-radius: 50px;
    box-shadow: 0 7px 35px #00000016;
}
/*
.boutonChevronD{
    background-image: url("images/cheveron_down.png");
    margin-right: 50px;
    padding: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 400px; bottom: 150px;
    background-repeat: no-repeat;
}*/


.boutonQuestions {
    /*position: absolute;
    left: 400px; bottom: 100px;*/
    margin-top: 40px;
    margin-left: 290px;
    width: 1000px;
    height: 50px;
    padding-left: 20px;
    text-align: left;
    font-size: 25px;
    color: #5172DF;
    background-color: #FBF778;
    border: 0px;
    border-radius: 50px;
    box-shadow: 0 7px 35px #00000016;
}

.bouton:hover {
    background-color: #FBF778;
}

.boutonQuestion1:active{
    height: 100px;
    color: #5172DF;
}

.resume {
    width: 550px;
    margin-bottom: 50px;
    color: #5172DF;
    font-size: 25px;
}

/*  Code HTML
<div class="container">
<h1 class="colorBleu titre">FAQ</h1>
<a class="recherche" href="#recherche">Rechercher</a>
<a class="compte" href="#compte">Mon Compte</a>
<a class="FAQ colorActif" href="#FAQ">FAQ</a>
<a class="CGU" href="#CGU">CGU</a>
<a class="support" href="#contact">Support</a>
<a class="deconnecter" href="index.html">Se Deconnecter</a>
</div> */




