body {
    height: auto;
}

.space{
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
}

.formulaire{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 7%;
}

::placeholder {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    color: #5172DF;
    text-align: center;
}

.prenom{
    width: 31%;
    height: 8%;
    background-color: #FBF778;
    position: absolute;
    top: 25%;
    border-radius: 50px;
    box-shadow: 0 0 23px 0 rgba(119, 119, 119, 0.34);
    border: none;
}

.nom{
    width: 31%;
    height: 8%;
    background-color: #FBF778;
    position: absolute;
    top: 25%;
    left: 50%;
    border-radius: 50px;
    box-shadow: 0 0 23px 0 rgba(119, 119, 119, 0.34);
    border: none;
}

.email{
    width: 31%;
    height: 8%;
    background-color: #FBF778;
    position: absolute;
    top: 40%;
    border-radius: 50px;
    box-shadow: 0 0 23px 0 rgba(119, 119, 119, 0.34);
    border: none;
}

.telephone{
    width: 31%;
    height: 8%;
    background-color: #FBF778;
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 50px;
    box-shadow: 0 0 23px 0 rgba(119, 119, 119, 0.34);
    border: none;

}

.objet{
    width: 71%;
    height: 8%;
    background-color: #FBF778;
    position: absolute;
    top: 55%;
    border-radius: 50px;
    box-shadow: 0 0 23px 0 rgba(119, 119, 119, 0.34);
    border: none;
}

.message{
    width: 71%;
    height: 25%;
    background-color: #FBF778;
    position: absolute;
    top: 70%;
    border-radius: 50px;
    box-shadow: 0 0 23px 0 rgba(119, 119, 119, 0.34);
    border: none;
}

.envoyer{
    width: 31%;
    height: 8%;
    margin-left: 20%;
    background-color: #FBF778;
    font-family: Roboto;
    color: #5172DF;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 100%;
    border-radius: 50px;
    box-shadow: 0 0 23px 0 rgba(119, 119, 119, 0.34);
    border: none;
}

input {
    text-align: center;
}

textarea {
    resize: none;
    text-align: center;
}
