body {
    width: 100%;
    background-color: #0F1257;
    margin-left: auto;
    margin-right: auto;
}

#gauche {
    margin-left: 300px;
    background-color: white;
    float: left;
    width: 100px;
    height: 50px;
}
#droite {
    background-color: white;
    float: right;
    width: 100px;
}
#centre {
    background-color: white;
    margin-right: 100px; /* largeur de la colonne droite */
    margin-left: 100px; /* largeur de la colonne gauche */
}

.second {
    width: 1300px;
    height: 1200px;
    background: white;
    margin: 300px auto;
}