Body{
    font-family: "Roboto";
    background-image: url("../images/racing.png");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

.espace{
    width: 80%;
    top: 2%;
    margin-left: 20%;
    padding-bottom: 7%;
    right: 0;
}

.zone {
    width: 120px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color:#5172DF;
    margin-left: 7%;
}

.colorBleu {
    color: #5172DF;
}

.tableau {
    border-radius: 30px;
}

.colorWhite {
    color: white;
}


#users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 2em;
    overflow: hidden;
    width: 90%;
    margin-bottom: 3%;
}

#users td {
    border: 1px solid #ddd;
    padding: 8px;
}

/*#users tr:nth-child(even){background-color: #f2f2f2;}*/

#users tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: #5172DF;
}

#users tr:hover {background-color: #ddd;}

#users th {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #5172DF;
    color: white;
    border: none;
}

.rouge {
    color: red;
}

.vert {
    color: green;
}

#users td {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}