Body{
    font-family: "Roboto";
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 20px; left: 300px;
    color:#5172DF;
}

.colorBlanc {
    color: #FFFFFF;
}

.navbarBleue {
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    height: 100%;
    background: #5172DF;
}

.recherche {
    font-size: 20px;
    position: absolute;
    top: 5%; left: 13%;
    color: #FFFFFF;
}

.compte {
    font-size: 20px;
    position: absolute;
    top: 10%; left: 13%;
    color: #FFFFFF;
}

.troisieme {
    font-size: 20px;
    position: absolute;
    top: 15%; left: 13%;
    color: #FFFFFF;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    height: 100%;
    background: #5172DF;
}

.FAQ {
    font-size: 20px;
    position: absolute;
    bottom: 25%; left: 13%;
    color: #FFFFFF;
}

.CGU {
    font-size: 20px;
    position: absolute;
    bottom: 20%; left: 13%;
    color: #FFFFFF;
}

.MentionsLegales {
    font-size: 20px;
    position: absolute;
    bottom: 15%; left: 13%;
    color: #FFFFFF;
}

.support {
    font-size: 20px;
    position: absolute;
    bottom: 10%; left: 13%;
    color: #FFFFFF;
}

.deconnecter{
    font-size: 20px;
    position: absolute;
    bottom: 5%; left: 13%;
    color: #FFFFFF;
}

.colorActif{
    color: #FBF778;
}
a:hover{
    text-decoration: underline;
    color: #FBF778;
}

/*  Code HTML
<div class="container">
<h1 class="colorBleu titre">FAQ</h1>
<a class="recherche" href="#recherche">Rechercher</a>
<a class="compte" href="#compte">Mon Compte</a>
<a class="FAQ colorActif" href="#FAQ">FAQ</a>
<a class="CGU" href="#CGU">CGU</a>
<a class="support" href="#contact">Support</a>
<a class="deconnecter" href="index_en.html">Se Deconnecter</a>
</div> */




